<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationShortcutItems</key>
	<array/>
	<key>NSCameraUsageDescription</key>
	<string>扫描二维码</string>
	<key>GitHub Run Id</key>
	<string>0</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>paw</string>
	</array>
	<key>NSUserActivityTypes</key>
	<array>
		<string>INSendMessageIntent</string>
		<string>INStartCallIntent</string>
	</array>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>保存消息图片到相册</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
